
<%- partial('_partial/_body/_index/_textarrement/public') %>


<style>
.dearmsdan-inner-img{
    width: 100%;
        max-width: none; 
}
.dearmsdan-inner-img img {
    border-radius: initial;
}
.dearmsdan-post {
    margin-bottom: 10px;
}
.dearmsdan-posts{
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    display: grid;
    padding: 0 24px;
}
@media (max-width: 1724px) and (min-width: 1301px){
    .dearmsdan-posts {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1300px) and (min-width: 877px){
    .dearmsdan-posts {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 876px) and (min-width: 604px){
    .dearmsdan-posts {
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 603px){
    .dearmsdan-posts {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.dearmsdan-post {
    overflow: hidden;
    padding: 0px!important;
    margin: 0px!important;
    border-radius: 12px;
}
.dearmsdan-post:hover {
    box-shadow: 0 4px 24px rgb(255, 255, 255);
    z-index: 50;
    padding: 0px;
}
.dearmsdan-post img {   
    max-width: 100%;
    width: 100%;
    height: 266px;
    background-size: cover;
    opacity: <%= theme.textarrement.S.sop %>;
    
}
.dearmsdan-inner-content{     
}
.dearmsdan-post:hover{
    padding: 0;
    background-color: initial;
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    opacity: 1;
}

.dearmsdan-inner-content {
background-color: rgba(0,0,0,0);
padding: 0;
}
.dearmsdan-tags{
    display: -webkit-box;
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 2;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    background-color: rgba(15,1,255,1);    
    background: -webkit-gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgb(14, 0, 255)));
    background: gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgb(14, 0, 255)));
    height: 61px;
    width: 41px;
}
.dearmsdan-tags a{
    color: #fff; 
    font-size: 15px; 
}
.dearmsdan-title:hover{
    opacity: 1;
    animation: fade-in;/*动画名称*/  
    animation-duration: 0.6s;/*动画持续时间*/  
    -webkit-animation:fade-in 0.6s;/*针对webkit内核*/ 
}
@keyframes fade-in {  
0% {opacity: 0;}/*初始状态 透明度为0*/  
40% {opacity: 0;}/*过渡状态 透明度为0*/  
100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}  
</style>
        

<div class="dearmsdan">
	<section class="dearmsdan-posts">


<% page.posts.each(function (page) { %>
    <% if(page.topping == true){  %>
        
    
<div class="dearmsdan-post" id="dearmsdanIndex">
    
    <div class="dearmsdan-inner-content">
    <div class="dearmsdan-inner-img">
        <div class="dearmsdan-cover-img">
            <a href="<%- url_for(page.path) %>">
            <% if (page.img){ %>
                <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<%- page.img %>">
            <%}  else{ %>
                <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<% if (theme.background.bg){ %><%- theme.background.bg %><%}  else{ %>https://via.placeholder.com/600x300.png?text=Loading....<% } %>">
            <% } %>
            </a>
        </div>
        <div class="dearmsdan-cover-content">
<% if (page.tags && page.tags.length){ %>
                    <div class="dearmsdan-tags" style="background-color:rgba(255, 0, 0, 0.51);background: -webkit-gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgba(255, 0, 0, 0.51)));">
                        <% if (page.tags && page.tags.length){ %>
                            <%- list_tags(page.tags, {
                                show_count: false,
                                class: '',
                                style: 'none',
                                separator: ' '
                            }) %>
                        <% } %>
                    </div>
<% } %>
            <a  href="<%- url_for(page.path) %>">
                <div class="dearmsdan-title"> 
                    <div class="dearmsdan-title-shadow">
                        <%= page.title %>
                    </div>
                </div>
            </a>
        </div>
    </div>
        
</div>
</div>
            
    <% }  %>
<% }) %>
            





<% page.posts.each(function (page) { %>
    <% if(!page.topping == true){  %>		
            
<div class="dearmsdan-post" id="dearmsdanIndex">
    
    <div class="dearmsdan-inner-content">
    <div class="dearmsdan-inner-img">
        <div class="dearmsdan-cover-img">
            <a href="<%- url_for(page.path) %>">
            <% if (page.img){ %>
                <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<%- page.img %>">
            <%}  else{ %>
                <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<% if (theme.background.bg){ %><%- theme.background.bg %><%}  else{ %>https://via.placeholder.com/600x300.png?text=Loading....<% } %>">
            <% } %>
            </a>
        </div>
        <div class="dearmsdan-cover-content">
<% if (page.tags && page.tags.length){ %>
                    <div class="dearmsdan-tags">
                        <% if (page.tags && page.tags.length){ %>
                            <%- list_tags(page.tags, {
                                show_count: false,
                                class: '',
                                style: 'none',
                                separator: ' '
                            }) %>
                        <% } %>
                    </div>
<% } %>
            <a  href="<%- url_for(page.path) %>">
                <div class="dearmsdan-title"> 
                    <div class="dearmsdan-title-shadow">
                        <%= page.title %>
                    </div>
                </div>
            </a>
        </div>
    </div>
        
</div>
</div>
            
    <% }  %>
<% }) %>

        




</section>
	<%#- 分页 %>
<%- partial('_partial/_body/paginator') %>
</div>