<%#= 公共插件聚集地， 与其他模板无影响 %>


<%#- 顶部进度条 %>
<div class="toping"></div>
<%#- 版本检测 %>
<%- partial('_plug/judge.ejs') %>

<%#- 音乐插件 audio player %>
<%- partial('_plug/meuplayer') %>

<%#- 返回顶部 %>
<%- partial('_plug/top') %>

<%#- 移动端自适应修改 %>
<%#- partial('_plug/responsive') %>


<%#- 阅读工具人 %>
<%- partial('_plug/read') %>


<%#- js 驱动 %>
<%- partial('_plug/data') %>


<%#- 网页 diy %>
<%- partial('_plug/_diy/main') %>



	
<%# PJAX %>
 <% if (theme.pjax.enable == true){ %>
		<div class="dearmsdan-pjax">
		<script src="<%= theme.jquerypjax.pjax %>"></script>
			<%- partial('_partial/pjax') %>
		</div>

<%}  else{ %>
		<script type="text/javascript">
			<%- partial('_partial/app') %>
		</script>
<% } %>
	<%# 目录 toc %>
	<link rel="stylesheet" type="text/css" href="<%= theme.toc.css %>"> 
	<script src="<%= theme.toc.pageslide %>"></script> 
	<%# 代码块复制功能 %>
  <script type="text/javascript" src="<%= theme.copycode.lib %>"></script>  


 <% if (theme.servicework.enable == true){ %>
  <script>
	//  /sw-cache.js
         //  $('.brand a:nth-child(2) span').text('installing');
    if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw-cache.js')
                    .then(function (reg) {
                    }).catch(function (error) {
                    console.log('cache failed with ' + error);
                });
        }
   if ('serviceWorker' in navigator) {
            navigator.serviceWorker.addEventListener('controllerchange', function (ev) 	{
                try {
					window.location.reload();
                }catch (e) {
                    console.log("controllerchange");
                }
            });
    }

	</script>
<% } %>
	