<!DOCTYPE html>
<html>
    <!-- Head -->
    <%- partial('_partial/head') %>
	
    <body>
<div class="toping"></div>
		<div id="dearmsdan">
		<!-- Header -->
		<%- partial('_partial/header') %>
			<div class="main">
				<div class="dearmsdan-bg">
					<div class="div_bg"></div>
				</div>
				<div class="main-content">
					<%- body %>
    				<%# 测试模板→ - partial('_test/index') %>
					<!--<iframe src="a/index.html" class="iframe_mx uicss-cn"></iframe>-->
					<!-- footer -->
					<%- partial('_partial/footer') %>
				</div>
			</div>
		</div>
		
		
		
	<%#= 插件聚集地 %>
	<%- partial('_plug/unit') %>
    </body>
</html>