<%#- 程序主入口 %>

<!DOCTYPE html>
<html>
    <!-- Head -->
	<%#- css、js、头部信息 %>
    <%- partial('_partial/head') %>
	
    <!-- prettyPrint( 开启文章高亮  -->
    <body onload="prettyPrint()">
		<div id="dearmsdan">
		<!-- Header -->
		<%#- 导航栏、左侧目录 %>
		<%- partial('_partial/header') %>
			<%#- 中心 %>
			<div class="main">
				<div class="dearmsdan-bg"></div>
				<div class="main-content">
					<%#- index.ejs  ↓↓↓↓↓起点↓↓↓↓↓ %>
					<%- body %>
    				<%# 测试模板→ - partial('_test/index') %>
					<!--<iframe src="a/index.html" class="iframe_mx uicss-cn"></iframe>-->
		<!-- footer -->
		<%- partial('_partial/footer') %>
				</div>
			</div>
		</div>

	<%#= 插件聚集地 %>
	<%- partial('_plug/unit') %>
    </body>
</html>