<%# head头部信息 %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += '：' + page.year + '/' + page.month;
    } else if (is_year()){
      title += '：' + page.year;
    }
  } else if (is_category()){
    title = __('count.categories') + '：' + page.category;
  } else if (is_tag()){
    title = __('count.tags') + '：' + page.tag;
  }
  %>

<head>
	<title><% if (title){ %><%= title %> - <% } %> <%= config.title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="<%= config.description %>">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	
	<link rel="shortcut icon" href="<%= theme.favicon.href %>" type="<%= theme.favicon.type %>" />
	
	<!-- 引入配置css文件 -->
	<%- css('css/style.css') %>
	
	
</head>





