<%#- 导航栏 %>
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand"> 
			<a>
				<i style="font-size:<%= theme.dearmsdan.logo.size %>;vertical-align: middle;"
			class="<%= theme.dearmsdan.logo.ico %>"></i>
				<img width="<%= theme.dearmsdan.logo.size %>" src="<% if (theme.dearmsdan.logo.png){ %><%= theme.dearmsdan.logo.png %><% } %>" />
				
			</a>
			<a href="/">
				<span style="font-size: <%= theme.dearmsdan.title.size %>;"><%= theme.sitename %></span>
			</a>
		</div>
		<div class="nav-list"> 
			<% for (name in theme.menu) { %>
			<a href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
				<span>
					<%= name %>
				</span>
			</a>
			<% } %>
		</div>
	
	
      <div class="mobile">
        <div class="mobile-inner">
          <div class="mobile-inner-header">
            <div class="mobile-inner-header-icon mobile-inner-header-icon-out">
				<span></span><span></span>
			  </div>
          </div>
         	<div class="mobile-inner-nav"> 
				<% for (name in theme.menu) { %>
				<a href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
					<span>
						<%= name %>
					</span>
				</a>
				<% } %>
			</div>
        </div>
    </div>
	
<script>
	$(window).load(function () {
	  $(".mobile-inner-header-icon").click(function(){
	  	$(this).toggleClass("mobile-inner-header-icon-click mobile-inner-header-icon-out");
	  	$(".mobile-inner-nav").slideToggle(250);
	  });
	  $(".mobile-inner-nav a").each(function( index ) {
	  	$( this ).css({'animation-delay': (index/10)+'s'});
	  });
	});
</script>
	
	
	
	
	<div class="container-fluid">
		<div class="navbar-btn" style="padding: 0; padding-top: 10px;">
			<button type="button" class="btn-toggle-fullwidth btn-toggle-mx">
				<i class="DearMsDanIconFont">&#xe623;</i>
			</button>
		</div>
	</div>
</nav>

<%# 侧边栏 %>
<%- partial('_partial/_head/sidebar') %>






