<%#- 导航栏 %>
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand"> 
			<a>
				<i style="font-size:<%= theme.dearmsdan.logo.size %>;vertical-align: middle;"
			class="<%= theme.dearmsdan.logo.ico %>"></i>
				<img width="<%= theme.dearmsdan.logo.size %>" src="<% if (theme.dearmsdan.logo.png){ %><%= theme.dearmsdan.logo.png %><% } %>" />
				
			</a>
			<a href="/">
				<span style="font-size: <%= theme.dearmsdan.title.size %>;"><%= config.title %></span>
			</a>
		</div>
		<div class="nav-list"> 
			<% for (name in theme.menu) { %>
			<a href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
				<span>
					<%= name %>
				</span>
			</a>
			<% } %>
			
		</div>
	<div class="container-fluid">
		<div class="navbar-btn" style="padding: 0; padding-top: 10px;">
			<button type="button" class="btn-toggle-fullwidth btn-toggle-mx">
				<i class="DearMsDanIconFont">&#xe623;</i>
			</button>
		</div>
	</div>
</nav>

<%# 侧边栏 %>
<%- partial('_partial/sidebar') %>






