<%- partial('_partial/_body/_index/_default/public') %>

<style>
    .dearmsdan-post:hover .dearmsdan-toping {display: inline-block!important;}
        @media screen and (min-width: 1024px){
        .dearmsdan-toping {
            display: inline-block;
            left: 10px;
            top: 0;
            z-index: 2;
            color: #FFFFFF;
            padding: 0 10px;
            border-radius: 4px;
            font-style: normal;
            background-color: rgba(234, 67, 74, 0.22);
            clip-path:none;
            height:auto;
            width: auto;
            position: inherit;
        }
            
    }
    </style>




<div class="dearmsdan">
	<section class="dearmsdan-posts">
    <% page.posts.each(function (page) { %>
    <% if(page.topping == true){  %>
		
    <div class="dearmsdan-post" id="dearmsdanIndex">
				<div class="dearmsdan-tags">
					<div class="dearmsdan-toping">置顶</div>
				</div>
		<div class="dearmsdan-inner-content">
		<div class="dearmsdan-inner-img">
			<div class="dearmsdan-cover-content">
				<a href="<%- url_for(page.path) %>">
					<div class="dearmsdan-title"> 
						<%= page.title %>
					</div>
				</a>
			</div>
			
		</div>

			<article>
				<% if(page.excerpt) {%>
				<%- page.excerpt %>
				<%}  else{ %>
				<%- page.content %>
				<% } %>
			</article>
			<div class="dearmsdan-post-Statistics">
				<a><%- date(page.date, "YYYY年MM月DD日") %></a>
				<% if (page.categories && page.categories.length){ %>
					<%- list_categories(page.categories, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ''
					}) %>
				<% } %>
				<% if (page.tags && page.tags.length){ %>
					<%- list_tags(page.tags, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ' '
					}) %>
				<% } %>
			</div>
		</div>
		<a href="<%- url_for(page.path) %>"><div class="dearmsdan-more">阅读更多...</div></a>
    </div>
    
	<% }  %>
    <% }) %>
    <% page.posts.each(function (page) { %>
    <% if(!page.topping == true){  %>
		
    <div class="dearmsdan-post" id="dearmsdanIndex">
		<div class="dearmsdan-inner-content">
		<div class="dearmsdan-inner-img">
			<div class="dearmsdan-cover-content">
				<a href="<%- url_for(page.path) %>">
					<div class="dearmsdan-title"> 
						<%= page.title %>
					</div>
				</a>
			</div>
			
		</div>

			<article>
				<% if(page.excerpt) {%>
				<%- page.excerpt %>
				<%}  else{ %>
				<%- page.content %>
				<% } %>
			</article>
			<div class="dearmsdan-post-Statistics">
				<a><%- date(page.date, "YYYY年MM月DD日") %></a>
				<% if (page.categories && page.categories.length){ %>
					<%- list_categories(page.categories, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ''
					}) %>
				<% } %>
				<% if (page.tags && page.tags.length){ %>
					<%- list_tags(page.tags, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ' '
					}) %>
				<% } %>
			</div>
		</div>
		<a href="<%- url_for(page.path) %>"><div class="dearmsdan-more">阅读更多...</div></a>
		
    </div>
    
	<% }  %>
    <% }) %>
</section>
	<%#- 分页 %>
<%- partial('_partial/_body/paginator') %>
</div>