<!DOCTYPE html>
<html>
    <!-- Head -->
    <%- partial('_partial/head') %>
	
    <body>
		<div id="dearmsdan">
		<!-- Header -->
		<%- partial('_partial/header') %>
				<%- partial('_partial/bg') %>
			<div class="main">
				<div class="main-content">
					<%- body %>
    				<%# 测试模板→ - partial('_test/index') %>
					<%- partial('_partial/footer') %>
				</div>
			</div>
		</div>

		
	<%#= 插件聚集地 %>
	<%- partial('_plug/unit') %>
		

    </body>
</html>