
<style>
.dearmsdan-post {
	webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.dearmsdan-post:hover{
	webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
</style>

<% if (theme.typesetting.type == '' || theme.typesetting.type == 'default' ){ %>
<style>
@media screen and (max-width: 1024px){
	.dearmsdan-more{    
    opacity: 1!important;
	}
	.dearmsdan-more{  
		display: contents!important;	
	}
	.dearmsdan-toping{
		display: inline-block;
		left: 10px;
		top: 0;
		z-index: 2;
		color: #FFFFFF;
		padding: 0 10px;
		border-radius: 4px;
		font-style: normal;
		background-color: rgba(234, 67, 74, 0.7);
	}
	.dearmsdan-post:hover .dearmsdan-toping {display: inline-block!important;}
}

@media screen and (min-width: 1024px){
	.dearmsdan-toping{
		display: none;
		position: fixed;
		left: 10px;
		top: 0;
		z-index: 2;color: #FFFFFF;
		clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
		background-color: rgba(255, 0, 0, 0.51);    
		background: -webkit-gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgba(255, 0, 0, 0.51)));
    	background: gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgba(255, 0, 0, 0.51)));
		height: 61px;
		width: 41px;
	}
}
	.dearmsdan-more{   
	display: inline-block;
    float: right;
    background-color: rgba(204, 196, 196, 0.45);
    padding: .5rem 1rem;
    border-radius: 4px;
    color: #919191!important;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
    will-change: opacity;
        -moz-user-select: none; /*火狐*/
        -webkit-user-select: none; /*webkit浏览器*/
        -ms-user-select: none; /*IE10*/
        -khtml-user-select: none; /*早期浏览器*/
        -o-user-select: none; /* Opera*/
        user-select: none;
	}
	.dearmsdan-post:hover .dearmsdan-more {
		opacity: 1;
		animation: fade-in;
		animation-duration: 0.6s;
		-webkit-animation: fade-in 0.6s;
	}
	
	@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
	}  
	@-webkit-keyframes fade-in {/*针对webkit内核*/  
		0% {opacity: 0;}  
		40% {opacity: 0;}  
		100% {opacity: 1;}  
	}  
	.dearmsdan-post:hover .dearmsdan-toping {display: block;}
	.dearmsdan-tags{
	}
	.dearmsdan-tags a{
		color: #fff; 
		font-size: 15px; 
	}
	.dearmsdan-tags a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	}
	
</style>

<% if (theme.textdefault.type == '' || theme.textdefault.type == 'move' ){ %>
<style>
	
@media screen and (min-width: 1024px){
	.dearmsdan-post:hover{
   		border: none;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		background-color: rgba(255, 255, 255, <%= theme.textdefault.opih %>);
	}
	.dearmsdan-post{    
		padding: 60px 70px!important;
	}
}
	.dearmsdan-post{    
/*   		border: 1px #b8c7ff solid;*/
		margin: 0px;    margin-bottom: 20px;
        background-color: rgba(240, 248, 255, <%= theme.textdefault.opi %>);
	}
</style>
<% } %>

<% if (theme.textdefault.type == 'jump' ){ %>
<style>
.dearmsdan-post:hover .dearmsdan-toping {display: inline-block!important;}
	@media screen and (min-width: 1024px){
	.dearmsdan-toping {
		display: inline-block;
		left: 10px;
		top: 0;
		z-index: 2;
		color: #FFFFFF;
		padding: 0 10px;
		border-radius: 4px;
		font-style: normal;
		background-color: rgba(234, 67, 74, 0.22);
		clip-path:none;
		height:auto;
		width: auto;
		position: inherit;
	}
		
}
</style>
<% } %>

<% if (theme.textdefault.type == 'stick' ){ %>
<style>
@media screen and (min-width: 1024px){
	.dearmsdan-post{    
		padding: 60px 70px!important;
	}
}
	.dearmsdan-post{    
		margin: 0px;    margin-bottom: 20px;
        background-color: rgba(240, 248, 255, <%= theme.textdefault.opi %>);
	}
	.dearmsdan-post:hover{
   		border: none;
		transform: translateX(20px);
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		background-color: rgba(255, 255, 255, <%= theme.textdefault.opih %>);
		border-left: 5px solid #afafaf;
	}
@media screen and (min-width: 1024px){
	.main-content {
		padding: 30px 15px 20px;
		z-index: 2;
		padding: 0px;
		width: 94%;
		height: inherit;
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		background-color: rgba(255, 255, 255, 0.38)!important;
	}
	.dearmsdan {
		padding: 30px 12px 20px;
	}
	.dearmsdan-post{
		background-color: rgba(255, 255, 255, 0.7)!important;
	}
	.dearmsdan-post:hover{
		box-shadow: 0 4px 24px rgb(255, 255, 255,0)!important;
	}
}

</style>
<% } %>

<div class="dearmsdan">
	<section class="dearmsdan-posts">
    <% page.posts.each(function (page) { %>
    <% if(page.topping == true){  %>
		
    <div class="dearmsdan-post" id="dearmsdanIndex">
				<div class="dearmsdan-tags">
					<div class="dearmsdan-toping">置顶</div>
				</div>
		<div class="dearmsdan-inner-content">
		<div class="dearmsdan-inner-img">
			<div class="dearmsdan-cover-content">
				<a href="<%- url_for(page.path) %>">
					<div class="dearmsdan-title"> 
						<%= page.title %>
					</div>
				</a>
			</div>
			
		</div>

			<article>
				<% if(page.excerpt) {%>
				<%- page.excerpt %>
				<%}  else{ %>
				<%- page.content %>
				<% } %>
			</article>
			<div class="dearmsdan-post-Statistics">
				<a><%- date(page.date, "YYYY年MM月DD日") %></a>
				<% if (page.categories && page.categories.length){ %>
					<%- list_categories(page.categories, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ''
					}) %>
				<% } %>
				<% if (page.tags && page.tags.length){ %>
					<%- list_tags(page.tags, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ' '
					}) %>
				<% } %>
			</div>
		</div>
		<a href="<%- url_for(page.path) %>"><div class="dearmsdan-more">阅读更多...</div></a>
    </div>
    
	<% }  %>
    <% }) %>
    <% page.posts.each(function (page) { %>
    <% if(!page.topping == true){  %>
		
    <div class="dearmsdan-post" id="dearmsdanIndex">
		<div class="dearmsdan-inner-content">
		<div class="dearmsdan-inner-img">
			<div class="dearmsdan-cover-content">
				<a href="<%- url_for(page.path) %>">
					<div class="dearmsdan-title"> 
						<%= page.title %>
					</div>
				</a>
			</div>
			
		</div>

			<article>
				<% if(page.excerpt) {%>
				<%- page.excerpt %>
				<%}  else{ %>
				<%- page.content %>
				<% } %>
			</article>
			<div class="dearmsdan-post-Statistics">
				<a><%- date(page.date, "YYYY年MM月DD日") %></a>
				<% if (page.categories && page.categories.length){ %>
					<%- list_categories(page.categories, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ''
					}) %>
				<% } %>
				<% if (page.tags && page.tags.length){ %>
					<%- list_tags(page.tags, {
						show_count: false,
						class: '',
						style: 'none',
						separator: ' '
					}) %>
				<% } %>
			</div>
		</div>
		<a href="<%- url_for(page.path) %>"><div class="dearmsdan-more">阅读更多...</div></a>
		
    </div>
    
	<% }  %>
    <% }) %>
</section>
	<%#- 分页 %>
<%- partial('_partial/_body/paginator') %>
</div>


<% } %>