<%# 侧边栏 %>
<div id="sidebar-nav" class="sidebar">
		<div class="sidebar-scroll">
			<div class="sidebar-author">
				<a href="/">
					<% if (theme.dearHead){ %>
						<img src="<%= theme.dearHead %>">
						<img src="<%= theme.dearHeadlogo %>">
					<%}  else{ %>
						<img class="sidebar-author-d" src="<%= theme.PhotoHead %>">
					<% } %>
				</a>
			</div>
			<nav>
				<%# 首页统计 文章数 %>
				<div class="dearmsdan-count">
					<span><%= theme.count.articles %></span><%= site.posts.length %>
					<span><%= theme.count.tags %></span><%= site.tags.length %>
					<span><%= theme.count.categories %></span><%= site.categories.length %>
				</div>		
			<div class="social-btns">
				
				<% for (name in theme.socialbtn) { %>
					<a target="_blank" class="btn <%= name %>" href="<%- url_for(theme.socialbtn[name][0]) -%>">
						
            		<i class="DearMsDanIconFont <% if (theme.socialbtn[name][1]){ %><%= theme.socialbtn[name][1] %><%} else{ %><%= 'icon-cuowu' %><% } %>"></i>
						
        			</a>
				<% } %>
				</div>
				<%# 搜索工具 %>
		 <% if (theme.search.enable == true){ %>
				
				<%- partial('_partial/_head/search') %>
				
		<%}  else{ %>
				
		<% } %>
				<ul class="nav">	
					<li>
						<a target="_self" href="/" class="iframe_link active"><span>首页</span>
						</a>
					</li>
					
					
					<%# 遍历 _side（归档小部件）文件 的全部ejs 文件 %>

					  <% theme.sides.forEach(function(side){ %>
					  <%- partial('_side/' + side) %>
					  <% }) %>
					
					<li>
						<a id="axis" target="_self" href="<%= theme.side.axis.link %>" class="nav-togg">
							<span><%= theme.side.axis.name %></span>
						</a>
					</li>
					
					<%# 界面目录自定义 %>
				<% for (name in theme.Catalog) { %>
					<li>
						<a href="javascript:;" class="nav-togg" target="_self" title="<%= name %>"><%= name %></a>
						<div>
							<ul>
								<li>
									<div>
									<% for (name_son in theme.Catalog_son) { %>
										<div>
											<a href="<%- url_for(theme.Catalog_son[name_son][0]) -%>" class="nav-togg" target="_self" title="<%= name_son %>"><%= name_son %></a>
										</div>
										
									<% } %>	
									</div>
								</li>
							</ul>
						</div>
					</li>
				<% } %>	
					
					
				</ul>
			</nav>
		</div>
</div>



