
<%- partial('_partial/_body/_index/_textarrement/public') %>

<div class="dearmsdan">
	<section class="dearmsdan-posts">
		
<style>

@media screen and (min-width: 1024px){
	.dearmsdan-post:hover .dearmsdan-toping {display: inline-block!important;}
	.dearmsdan-toping{
		display: none;
		position: fixed;
		left: 10px;
		top: 0;
		z-index: 2;color: #FFFFFF;
		clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
		background-color: rgba(255, 0, 0, 0.51);    
		background: -webkit-gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgba(255, 0, 0, 0.51)));
    	background: gradient(linear, left bottom,left top, from(transparent), color-stop(100%, rgba(255, 0, 0, 0.51)));
		height: 61px;
		width: 41px;
	}
}
	
@media screen and (max-width: 1024px){
	
	.dearmsdan-toping{
		display: inline-block;
		left: 10px;
		top: 0;
		z-index: 2;
		color: #FFFFFF;
		padding: 0 10px;
		border-radius: 4px;
		font-style: normal;
		background-color: rgba(234, 67, 74, 0.7);
	}
	.dearmsdan-post:hover .dearmsdan-toping {display: inline-block!important;}
	.dearmsdan-post {
    	padding: 0px!important;
	}
	.dearmsdan-more{   
		opacity: 1!important;
	}
}
	.dearmsdan-more{   
		display: inline-block;
		background-color: rgba(204, 196, 196, 0.45);
		padding: .5rem 1rem;
		border-radius: 4px;
		color: #919191!important;
		text-decoration: none;
		opacity: 0;
		-webkit-transition: opacity 1.2s;
		transition: opacity 1.2s;
		will-change: opacity;
        -moz-user-select: none; /*火狐*/
        -webkit-user-select: none; /*webkit浏览器*/
        -ms-user-select: none; /*IE10*/
        -khtml-user-select: none; /*早期浏览器*/
        -o-user-select: none; /* Opera*/
        user-select: none;
	}
	.dearmsdan-post:hover .dearmsdan-more {
		opacity: 1;
		animation: fade-in;
		animation-duration: 0.6s;
		-webkit-animation: fade-in 0.6s;
	}
	.dearmsdan-inner-content {
		display: flex; 
    	overflow: hidden;
		
	}
	.dearmsdan-inner-img {
		width: 40%;
		flex: <%- theme.textarrement.M.imgProportion %>;
	}
	.dearmsdan-index-content{
		flex: <%- theme.textarrement.M.contextProportion %>;
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-left: 20px;
	}
	.dearmsdan-post:hover{
		padding: 0;
		background-color: initial;
		transform: translateX(-20px);
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
	}
	.dearmsdan-post {
    	margin-bottom: 10px;
	}
	@media screen and (max-width:799px) {
		.dearmsdan-inner-content {
			display: block;    
			max-height: none;
			overflow: inherit;

		}
		.dearmsdan-inner-img {
			width: 100%;
		}
		.dearmsdan-index-content{
			display: block;
			text-overflow: ellipsis;
			overflow: inherit;
			margin-left: 0;
		}
		.dearmsdan-post:hover{
			padding: 0;
			background-color: initial;
			transform: translateY(-15px);
			-webkit-transform: translateY(-15px);
			-moz-transform: translateY(-15px);
		}
		.dearmsdan-post {
			margin-bottom: 10px;
		}
	}
</style>
	
	











        <% page.posts.each(function (page) { %>
            <% if(page.topping == true){  %>
                
            <div class="dearmsdan-post" id="dearmsdanIndex">
                        <div class="dearmsdan-tags">
                            <div class="dearmsdan-toping">置顶</div>
                        </div>
                <div class="dearmsdan-inner-content">
                <div class="dearmsdan-inner-img">
                    <div class="dearmsdan-cover-img">
                        <a href="<%- url_for(page.path) %>">
                        <% if (page.img){ %>
                            <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<%- page.img %>">
                        <%}  else{ %>
                            <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<% if (theme.background.bg){ %><%- theme.background.bg %><%}  else{ %>https://via.placeholder.com/600x300.png?text=Loading....<% } %>">
                        <% } %>
                        </a>
                    </div>
                    <div class="dearmsdan-cover-content">
                        <a href="<%- url_for(page.path) %>">
                            <div class="dearmsdan-title"> 
                                <div class="dearmsdan-title-shadow">
                                    <%= page.title %>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    
                <div class="dearmsdan-index-content">
                    <article>
                        <% if(page.excerpt) {%>
                        <%- page.excerpt %>
                        <%}  else{ %>
                        <%- page.content %>
                        <% } %>
                    </article>
                <a style="position: unset;" href="<%- url_for(page.path) %>"><div class="dearmsdan-more">阅读更多...</div></a>
                    <div class="dearmsdan-post-Statistics">
                        <a><%- date(page.date, "YYYY年MM月DD日") %></a>
                        <% if (page.categories && page.categories.length){ %>
                            <%- list_categories(page.categories, {
                                show_count: false,
                                class: '',
                                style: 'none',
                                separator: ''
                            }) %>
                        <% } %>
                        <% if (page.tags && page.tags.length){ %>
                            <%- list_tags(page.tags, {
                                show_count: false,
                                class: '',
                                style: 'none',
                                separator: ' '
                            }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
            
            <% }  %>
        <% }) %>
                
        <% page.posts.each(function (page) { %>
            <% if(!page.topping == true){  %>
            <div class="dearmsdan-post" id="dearmsdanIndex">
                <div class="dearmsdan-inner-content">
                <div class="dearmsdan-inner-img">
                    <div class="dearmsdan-cover-img">
                        <a href="<%- url_for(page.path) %>">
                        <% if (page.img){ %>
                            <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<%- page.img %>">
                        <%}  else{ %>
                            <img src="https://via.placeholder.com/600x300.png?text=Loading...." dearmsdan-src="<% if (theme.background.bg){ %><%- theme.background.bg %><%}  else{ %>https://via.placeholder.com/600x300.png?text=Loading....<% } %>">
                        <% } %>
                        </a>
                    </div>
                    <div class="dearmsdan-cover-content">
                        <a href="<%- url_for(page.path) %>">
                            <div class="dearmsdan-title"> 
                                <div class="dearmsdan-title-shadow">
                                    <%= page.title %>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    
                <div class="dearmsdan-index-content">
                    <article>
                        <% if(page.excerpt) {%>
                        <%- page.excerpt %>
                        <%}  else{ %>
                        <%- page.content %>
                        <% } %>
                    </article>
                <a style="position: unset;" href="<%- url_for(page.path) %>"><div class="dearmsdan-more">阅读更多...</div></a>
                    <div class="dearmsdan-post-Statistics">
                        <a><%- date(page.date, "YYYY年MM月DD日") %></a>
                        <% if (page.categories && page.categories.length){ %>
                            <%- list_categories(page.categories, {
                                show_count: false,
                                class: '',
                                style: 'none',
                                separator: ''
                            }) %>
                        <% } %>
                        <% if (page.tags && page.tags.length){ %>
                            <%- list_tags(page.tags, {
                                show_count: false,
                                class: '',
                                style: 'none',
                                separator: ' '
                            }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
            <% }  %>
        <% }) %>
                


        




</section>
	<%#- 分页 %>
<%- partial('_partial/_body/paginator') %>
</div>