<%#- 归档（Permalinks）在 md资源 里定义布局方式为layout: md/active %>

<%# 标签归档  %>

<div class="sea-container headbar-top">

<div class="page-archive dropdown-archive height-min-1000 single-post">
    <%# 首页统计 文章数 %>
    <div class="page-archive-count">
        <div class="page-archive-title">
          <h2><span><%=  theme.side.archive %></span></h2>
          <span><%= theme.count.articles %></span> <small>(<%= site.posts.length %>)</small>
          <span><%= theme.count.tags %></span> <small>(<%= site.tags.length %>)</small>
          <span><%= theme.count.categories %> </span> <small>(<%= site.categories.length %>)</small>
      </div>
    </div>
    <ol class='years'>
        <%- partial('_public/part/archive') %>
    </ol>
</div>
<div class="single-hr" style="margin-top: 120px;">
  <hr>
  <hr>
</div>

</div>